---
import Layout from "../layouts/Layout.astro";
import Category from "../components/Category.astro";
import TopNav from "../components/TopNav.astro";
---

<Layout title="Welcome to Astro.">
  <div class="FrontPage">
    <TopNav />
    <div class="categorylist">
      <Category title="Focus" />
      <Category title="Spotify Playlists" />
    </div>
  </div>
</Layout>

<style>
  .categorylist {
    padding: 1rem;
  }
</style>
