---
import Layout from "../layouts/Layout.astro";
import Category from "../components/Category.astro";
import TopNav from "../components/TopNav.astro";
---

<Layout title="Welcome to Astro.">
  <div class="FrontPage">
    <TopNav />
    <div class="categorylist">
      <div class="inner">
        <Category title="Focus" />
        <Category title="Spotify Playlists" />
      </div>
    </div>
  </div>
</Layout>

<style>
  .categorylist {
    margin: 2rem;
    border-bottom: 1px solid var(--color-grey-100);
  }
</style>
