---
const { color, cover, title } = Astro.props;
import Logo from "./icons/Logo.astro";
import { Debug } from "astro/components";
---

<article>
  <div class="imagewrapper">
    <img src={`imgs/${cover}`} alt={title} />
    <Logo color={color} />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="46"
      height="46"
      fill="currentColor"
      class="bi bi-play-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"
      ></path>
    </svg>
  </div>
  <h3>{title}</h3>
  <p><slot /></p>
</article>

<style>
  article {
    background: var(--color-black-8);
    padding: 1rem;
    color: var(--color-grey-700);
    font-size: 0.7rem;
    transition: all 0.2s;
    cursor: pointer;
    min-width: 180px;
  }
  article,
  img {
    border-radius: 4px;
  }
  article:hover {
    background: var(--color-grey-50);
  }
  .imagewrapper {
    display: grid;
  }
  .imagewrapper > * {
    grid-column: 1;
    grid-row: 1;
  }
  .imagewrapper svg.bi-play-circle-fill {
    transition: transform 0.1s, opacity 0.1s;
    opacity: 0;
    transform: translate(-10px, 10px);
    align-self: end;
    justify-self: end;
  }
  article:hover svg.bi-play-circle-fill {
    opacity: 1;
    transform: translate(-10px, -10px);
    fill: lime;
  }
  p {
    line-height: 1.3rem;
  }
</style>
